<div class="container-fluid">
    <div id="failedBox" class="hide"></div>

    <div class="panel panel-default">

        <!-- 【新增·Tab选择器】 -->
        <div style="text-align: center; height: 30px; margin-bottom: 5px; border-bottom: 1px solid #eee;">
            <div id="tabNew" class="tabView tabActive" style="width: 33%;  border-right: 1px solid #ccc;" onclick="Form.clickTab(0)">
                新  建
            </div>
            <div id="tabUpload" class="tabView" style="width: 33%;" onclick="Form.clickTab(1)">
                上传文件
            </div>
            <div id="tabFork" class="tabView" style="width: 33%;" onclick="Form.clickTab(2)">
                云转储
            </div>
        </div>

        <!-- 【修改·部分样式】 -->
        <div id="tabPanelNew" class="panel-body" style="padding: 30px 15px;">
            <br>{{$parentDocuments := .parent_documents}}{{$spaceId := .space_id}}{{$parentId := .parent_id}}
            <form class="form-horizontal" method="post" action="/document/save" onsubmit="return false">
                <input type="hidden" name="parent_id" id="parentId" value="{{$parentId}}">
                <input type="hidden" name="space_id" id="spaceId" value="{{$spaceId}}">
                <div class="form-group" style="margin-bottom: 35px">
                    <label class="col-sm-2 col-xs-3 control-label p-top7"><span class="text-danger"> * </span> 父文档</label>
                    <div class="col-sm-6 col-xs-8 form-comment">
                        <span class="control-label">
                            {{range $parentDocument := $parentDocuments}}
                                {{if eq $parentDocument.parent_id "0"}}
                                    <strong><a href="/document/index?document_id={{$parentDocument.document_id}}" target="_parent">{{$parentDocument.name}}</a></strong>
                                {{else}}
                                    <strong> / <a href="/document/index?document_id={{$parentDocument.document_id}}" target="_parent">{{$parentDocument.name}}</a></strong>
                                {{end}}
                            {{end}}
                        </span>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 35px">
                    <label class="col-sm-2 col-xs-3 control-label p-top7"><span class="text-danger"> * </span>类型</label>
                    <div class="col-sm-8 col-xs-8">
                        <div class="radio radio-inline radio-primary">
                            <input type="radio" name="type" id="radio-menu" value="1" checked="checked">
                            <label for="radio-menu"><i class="fa fa-file fa-fw"></i>页面</label>
                        </div>
                        <div class="radio radio-inline radio-primary">
                            <input type="radio" name="type" id="radio-controller" value="2">
                            <label for="radio-controller"><i class="fa fa-folder fa-fw"></i>目录</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 35px">
                    <label class="col-sm-2 col-xs-3 control-label p-top7"><span class="text-danger"> * </span> 名称</label>
                    <div class="col-sm-5 col-xs-9">
                        <input type="text" name="name" class="form-control" placeholder="请输入文档名称" value="">
                    </div>
                    <div class="col-sm-4 form-comment">
                        <span class="text-danger"> * 不能包含 \ / : * ? " < > | 、非法字符</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" onclick="Form.ajaxSubmit(this.form, true);" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </form>
        </div>
        
        <!-- 上传文件界面 -->
        <div id="tabPanelUpload" class="panel-body" style="display: none; ">
            <form enctype="multipart/form-data" class="form-horizontal" method="post" action="">
                <div style="min-height: 200px;">
                    <div class="form-group">
                        <div class="file-loading">
                            <input id="fileUploads" name="file1" type="file" multiple data-min-file-count="1" 
                            data-preview-file-type="any" data-upload-url="/document/upload" data-theme="fas">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- 上传文件界面 -->
        <div id="tabPanelFork" class="panel-body" style="display: none; ">
            <form enctype="multipart/form-data" class="form-horizontal" method="post" action="">
                <div style="min-height: 200px; ">
                    <div class="form-group" id="group1">
                        <div class="form-check">
                            <input class="form-check-input m-l7" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1" style="padding: 0px 200px 5px 5px">网络文件</label>
                            
                            <div class="form-group row m-tb0" style="margin-bottom: 15px">
                                <label class="col-xs-2 control-label p-top7" style="font-weight: 400;"><span class="text-danger"> * </span> 地址</label>
                                <div class="col-xs-10">
                                    <input type="text" id="fileUrl" onchange="Form.changeUrl(this.value)" class="form-control" placeholder="http://www.host.com/file.zip" value="">
                                </div>
                            </div>
                            <div class="form-group row m-tb0" style="margin-bottom: 15px">
                                <label class="col-xs-2 control-label p-top7" style="font-weight: 400;"><span class="text-danger"> * </span> 名称</label>
                                <div class="col-xs-10">
                                    <input type="text" id="fileName" class="form-control" placeholder="文件重命名" value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input m-l7" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2" style="padding: 0px 200px 5px 5px">Git仓库</label>

                            <div class="form-group row m-tb0" style="margin-bottom: 15px; ">
                                <label class="col-xs-2 control-label p-top7" style="font-weight: 400;"><span class="text-danger"> * </span> 地址</label>
                                <div class="col-xs-10">
                                    <input type="text" id="gitUrl" class="form-control" placeholder="http://www.gitee.com/user/repo.git" value="">
                                </div>
                            </div>
                        </div>

                        <button type="button" id="btnSubmit" class="btn btn-primary" style="margin: 8px 0px 8px 30px;" onclick="Form.submitClone()">提交</button>
                        <div class="alert alert-info" role="alert" id="progress" style="text-align: end;">
                            No Message.
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- class="file" -->
<script type="text/javascript" src="/static/js/modules/docEx.js"></script>