<div id="main-left" class="ui-layout-west">
    <div class="left-page">{{$documents := .documents}}
        {{$spaceDocument := .space_document}}{{$defaultDocumentId := .default_document_id}}{{$space := .space}}
        <div class="page-search">
            <form onsubmit="return false">
                <div class="form-group has-feedback">
                    <i class="glyphicon glyphicon-search form-control-feedback" style="line-height: 32px;"></i>
                    <input class="form-control input-sm" id="document_search" type="text" value=""
                           placeholder="搜索空间文档..." style="padding-right: 28px;">
                </div>
            </form>
        </div>
        <div class="page-tree">
            <h4 class="text-center">
                <a href="/document/index?document_id={{$spaceDocument.document_id}}">{{$spaceDocument.name}}</a>
                <a name="create_document"
                   data-link="/document/add?space_id={{$spaceDocument.space_id}}&parent_id={{$spaceDocument.document_id}}">
                    <span class="fa fa-plus-square-o"></span>
                </a>
            </h4>
            <hr>
            <ul id="dir_tree" class="ztree"></ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/modules/document.js"></script>
<script type="text/javascript">
    var FileIconConf = {	
        "png":   "image",
        "jpg":   "image",
        "bmp":   "image",
        "svg":   "image",
        "ico":   "image",
        "gif":   "image",
        "tif":   "image",
        "iif":   "image",
        "pcd":   "image",
        "apng":  "image",
        "jpeg":  "image",
        "webp":  "image",
        "doc":   "word",
        "ppt":   "ppt",
        "xls":   "excel",
        "docx":  "word",
        "pptx":  "ppt",
        "xlsx":  "excel",
        "pdf":   "pdf",
        "zip":   "pkg",
        "tar":   "pkg",
        "gz":    "pkg",
        "rar":   "pkg",
        "7z":    "pkg",
        "rar4":  "pkg",
        "mp4":   "video",
        "3gp":   "video",
        "avi":   "video",
        "wmv":   "video",
        "ogv":   "video",
        "flv":   "video",
        "mgp":   "video",
        "mkv":   "video",
        "mov":   "video",
        "m4v":   "video",
        "awf":   "video",
        "asx":   "video",
        "webm":  "video",
        "rmvb":  "video",
        "rm":    "video",
        "htm":   "html",
        "html":  "html",
        "java":  "code",
        "c":     "code",
        "h":     "code",
        "cc":    "code",
        "cpp":   "code",
        "cxx":   "code",
        "py":    "code",
        "js":    "code",
        "css":   "code",
        "sql":   "code",
        "php":   "code",
        "xml":   "code",
        "json":  "code",
        "jsp":   "code",
        "asp":   "code",
        "sh":    "code",
        "bat":   "code",
        "cmd":   "code",
        "ini":   "code",
        "vbs":   "code",
        "yaml":  "code",
        "swift": "code",
        "scss":  "code",
        "scala": "code",
        "ruby":  "code",
        "r":     "code",
        "jl":    "code",
        "cs":    "code",
        "frm":   "code",
        "less":  "code",
        "go":    "code",
        "txt":   "text",
        "wav":    "audio",
        "mp3":    "audio",
        "ogg":    "audio",
        "aac":    "audio",
        "psd":    "ps",
        "exe":    "app",
        "apk":    "app",
        "ios":    "app",
        "sql":    "db",
        "db":    "db",
    }
    // 【修改·为文件目录树指定多样图标】
    function getDocIcon (name, fileType) {
        if (fileType.toString() == "2") return "";
        var ps = name.split(".");
        if (ps.length == 1) return "f";
        var ext = ps[ps.length - 1].toLowerCase();
        if (ext in FileIconConf) return "f_" + FileIconConf[ext];
        return "f";
    }

    var documentsData = [];
    {{range $document := $documents}}
        var documentData = {
            'spaceId': parseInt({{$document.space_id}}),
            'id': parseInt({{$document.document_id}}),
            'pId': parseInt({{$document.parent_id}}),
            'name': {{$document.name}},
            'open': false,
            'isParent': false,
            'iconSkin': getDocIcon({{$document.name}}, {{$document.type}}) 
        };
        {{if eq $document.type "2"}}
            documentData.isParent = true;
        {{end}}
        documentsData.push(documentData);
    {{end}}
    Document.ListTree("#dir_tree", documentsData, {{$defaultDocumentId}}, {{.is_editor}}, {{.is_delete}});

    // 【修改·弹出框自适应】
    var sz = Document.GetFrameSize();
    Layers.bindIframe("[name='create_document']", "创建文档", sz[1], sz[0]);
</script>
{{/* markdown显示 */}}
<iframe class="ui-layout-center" id="mainFrame" name="mainFrame"  width="100%" frameborder="0" scrolling="yes"
        style="overflow-y: auto" src="/page/view?document_id={{$defaultDocumentId}}"></iframe>


        